html {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
  /* min-width: fit-content; */
}

header{
  width: 100%;
  height: 70px; 
  line-height: normal;
  color: #fff;
  background-color: #2b2b2b;
  position: fixed;
  z-index: 10;
}

.header-text{
  display: flex;
  padding: 1rem;
  align-items: center;
}

@media only screen and (max-device-width: 480px){  
  .header-text {
    justify-content: center;
  }
}

.header-text h3 {
  font-size: 1rem;
}

/* Banner */
#banner {
  height: 500px;
  width: 100%;
  position: relative;
  top: 70px;
  background-image: url('/Resources/images/colorBanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  text-align: center;
}

#banner .container .text-box h1{
  font-size: 4.5rem;
  color: white;
  text-shadow: 2px 2px #2b2b2b;
}

@media only screen and (max-device-width: 480px){  
  #banner .container .text-box h1 {
    font-size: 2rem;
  }
}

/* Commitments */
#commitments {
  height: 500px;
  max-width: 1200px;
  margin: auto;
}

#commitments .container .text-box {
  line-height: 1.75rem;
  padding: 10px;
  position: relative;
  top: 5%;
  color: #2A7397;
  font-weight: normal;
}

/*Mission*/

#mission-statement {
  height: 500px;
  margin: auto;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/Resources/images/learn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mission-statement .container .text-box {
  line-height: 1.75rem;
  padding: 10px;
  font-size: 2rem;
  line-height: 3.3rem;
  color: #fff;
}

@media only screen and (max-device-width: 480px){  
  #mission-statement{
    height: 400px;
  }
  
  #mission-statement .container .text-box h2 {
    font-size: 1.5rem;
  }
}

/*Statements */
#statements {
  color: #fff;
  background-color: #2A7397;
  width: 100%;
}

#statements .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#statements .container .text-box{
  max-width: 1300px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 100px 0;
}

#statements .container .text-box h2{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

#statements .container .text-box li {
  list-style-type: circle;
  list-style-position: inside;
  padding: 10px;
  line-height: 2rem;
}

@media only screen and (max-device-width: 480px){
  #statements .container .text-box h2{
    font-size: 1.5rem;
  }

  #statements .container .text-box li {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

/* SKills section */

#skills{
  border: 5px solid white;
  width: 100%;
  background-image: url("/Resources/images/skillsWall2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  color: #fff;
  padding: 150px 20px;
}

#skills .container {
  width: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / 28% 1fr;
  gap: 50px 10%;
}

.text-card {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-align: left;
  line-height: 40px;
}

#title-card {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  letter-spacing: 0;
  font-size: 2rem;
  grid-area: 2 / 1 / 2 / 2;
}

#card1 {
  grid-area: 1 / 2 / 1 / 2;
}

#card2 {
  grid-area: 2 / 2 / 2 / 2;
}

#card3 {
  grid-area: 3 / 2 / 3 / 2;
}

@media only screen and (max-device-width: 480px){
  #skills {
    padding: 50px 20px;
  }

  #skills .container {
    width: 100%;
    display: grid;
    grid-template: 1fr repeat(3, 2fr) / 1fr;
    row-gap: 10px;
    column-gap: 0;
  }

  .text-card {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-align: left;
    line-height: 30px;
  }

  #title-card {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    letter-spacing: 0;
    font-size: 1.2rem;
    grid-area: 1 / 1 / 1 / -1;
  }
  
  #card1 {
    grid-area: 2 / 1 / 2 / -1;
  }
  
  #card2 {
    grid-area: 3 / 1 / 3 / -1;
  }
  
  #card3 {
    grid-area: 4 / 1 / 4 / -1;
  }
}

/* Balance section */

#balance {
  width: 100%;
  background-image: url(/Resources/images/balanceWall.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 800px;
}

#balance .container *{
  background-color: none !important;
}

#balance .container .text-box{
  width: 30%;
  margin: auto;
  font-size: 1.7rem;
  color: #fff;
  position: relative;
  left: 300px;
  text-shadow: 2px 2px black;
  line-height: 50px;
}

#balance .container .text-box ul li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 35px;
  background-image: url(/Resources/images/icons/check1.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}
