html {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
  /* min-width: fit-content; */
}

header{
  width: 100%;
  height: 70px; 
  line-height: normal;
  color: #fff;
  background-color: #2b2b2b;
  position: fixed;
  z-index: 10;
}

.header-text{
  display: flex;
  padding: 1rem;
  align-items: center;
}

@media only screen and (max-device-width: 480px){  
  .header-text {
    justify-content: center;
  }
}

.header-text h3 {
  font-size: 1rem;
}

/* Banner */
#banner {
  height: 500px;
  width: 100%;
  position: relative;
  top: 70px;
  background-image: url('/Resources/images/colorBanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  text-align: center;
}

#banner .container .text-box h1{
  font-size: 4.5rem;
  color: white;
  text-shadow: 2px 2px #2b2b2b;
}

@media only screen and (max-device-width: 480px){  
  #banner .container .text-box h1 {
    font-size: 2rem;
  }
}

/* Commitments */
#commitments {
  height: 500px;
  max-width: 1200px;
  margin: auto;
}

#commitments .container .text-box {
  line-height: 1.75rem;
  padding: 10px;
  position: relative;
  top: 5%;
  color: #2A7397;
  font-weight: normal;
}

/*Mission*/

#mission-statement {
  height: 500px;
  margin: auto;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/Resources/images/learn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mission-statement .container .text-box {
  line-height: 1.75rem;
  padding: 10px;
  font-size: 2rem;
  line-height: 3.3rem;
  color: #fff;
}

@media only screen and (max-device-width: 480px){  
  #mission-statement{
    height: 400px;
  }
  
  #mission-statement .container .text-box h2 {
    font-size: 1.5rem;
  }
}

/*Statements */
#statements {
  color: #fff;
  background-color: #2A7397;
  width: 100%;
}

#statements .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#statements .container .text-box{
  max-width: 1300px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 100px 0;
}

#statements .container .text-box h2{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
}

#statements .container .text-box li {
  list-style-type: circle;
  list-style-position: inside;
  padding: 10px;
  line-height: 2rem;
}

@media only screen and (max-device-width: 480px){
  #statements .container .text-box h2{
    font-size: 1.5rem;
  }

  #statements .container .text-box li {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

/* SKills section */

#skills * {
  border: 1px solid red !important;
}

#skills{
  width: 100%;
  background-image: url("/Resources/images/bannerWall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 150px 20px;
}

#skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-card {
  padding: 10px;
  width: 20%;
}

.text-card #title-card {
  width: 400px;
  padding-right: 300px;
}

